{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8"
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [  ['babel-plugin-typescript-to-proptypes', {comments: false}],"@babel/plugin-proposal-optional-chaining"]
}
